@charset "utf-8";
@import url('style.css');

/*CSS Document*/
/*:link :visited :hover :active*/

/* phone */

.projects {
    padding-top: 30px;
}

.wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto 10vh auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.wrap a {
    flex: 1;
}

.card {
    width: 60vw;
    height: auto;
    padding: 20px 40px 40px 40px;
    margin: 30px auto;
    vertical-align: top;
    border-radius: 10px;
    background: rgba(20, 50, 75, 1);
    color: rgba(168, 168, 168, 1);
    border: solid 2px;
    border-color: rgba(200, 200, 200, .3);
    transition: transform 400ms ease-in-out;
    -webkit-transition: transform 400ms ease-in-out;
    z-index: 1000;
}

.card:hover {
    border: solid 2px;
    border-color: rgba(210, 195, 150, .7);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.card .media {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.card iframe,
.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.card h4 {
    font-family: 'Urbanist';
    font-weight: 500;
    color: rgba(200, 200, 200, .7);
    line-height: 1.5em;
    padding: 0;
}

.card h3 {
    color: rgba(210, 195, 150, 1);
    line-height: 1.5em;
    padding-top: 5px;
    text-align: center;
}

.card p {
    line-height: 1.6em;
    font-family: 'Urbanist';
    letter-spacing: 1px;
    text-align: justify;
    margin: auto;
}

/*for tablets*/
@media only screen and (min-width: 768px) {
    .wrap {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
    .card {
        width: 40vw;
        margin: 30px;
    }
}

/*for desktops*/
@media only screen and (min-width: 1200px) {
    .card {
        width: 18vw;
    }

    .card:hover {
        cursor: pointer;
    }
}